# Arquivos e pastas Python
__pycache__/
*.py[cod]
*.pyo

# Banco de dados local (SQLite)
app/banco_de_dados/cafeteria.db

# Ambiente virtual
venv/
.env
*.env

# Dados temporários ou persistência antiga
app/banco_de_dados/dados_json/
*.json

# Arquivos de log e dumps
*.log
*.sqlite3

# VSCode
.vscode/

# Arquivos do sistema (Windows/macOS)
.DS_Store
Thumbs.db