.nav-scroller {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.nav-scroller::-webkit-scrollbar {
  display: none;
}

.custom-nav li {
  scroll-snap-align: start;
  flex: 0 0 auto;
}

li .nav-link {
  text-decoration: none;
  color: var(--text-color-2);
}

.nav-link.active {
  color: var(--theme-color);
  border-bottom: 2px solid var(--theme-color);
}

.custom-card{
  display: grid;
  align-items: center;
  grid-template-areas: 
  "card-img card-content";
  column-gap: 12px;
  padding: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  grid-template-columns: 125px 188px;
  grid-template-rows: 100px;
}

.card-img{
  grid-area: card-img;
  width: 125px;
  height: 100px;
}

.card-text{
  font-size: 14px;
  color: var(--text-color-2);                
  height: 40px;          
  overflow: hidden;            
  text-overflow: ellipsis;
}

.card-price{
  font-size: 16px;
  color: var(--price-color);
}

.section-card-container {
  margin-top: 120px;
}